/* Réinitialisation des styles par défaut */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Fond sombre comme en dark mode */
    color: #fff;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

header h1 a {
    font-size: 24px;
    text-decoration: none;
    color: #f36a8a; /* Couleur rose poudré pour le titre */
    transition: color 0.3s; /* Animation sur hover */
}

header h1 a:hover {
    color: #ff9eb6; /* Couleur rose poudré plus clair sur hover */
}

header nav {
    margin-top: 10px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("Images/1.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%); /* Appliquer le noir et blanc */
    margin: 0 auto 20px; /* Centrer la photo horizontalement */
}

.profile-title {
    font-size: 30px;
    color: #f36a8a; /* Couleur rose poudré pour le titre */
    margin-bottom: 10px;
}

.profile p {
    text-align: center; /* Centrer le texte du paragraphe */
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.mp3-player {
    display: inline-block;
    margin-right: 20px;
}

.mp3-player audio {
    width: 150px; /* Réduire la taille du lecteur */
}

/* Media Query pour le responsive */
@media screen and (max-width: 768px) {
    header h1 a {
        font-size: 20px; /* Réduire la taille du titre sur les petits écrans */
    }

    .profile-title {
        font-size: 24px; /* Réduire la taille du titre sur les petits écrans */
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .profile p {
        font-size: 14px; /* Réduire la taille du texte du paragraphe sur les petits écrans */
    }
}

.cv-content {
    max-width: 800px; /* Largeur maximale du contenu du CV */
    margin: 0 auto; /* Centrer horizontalement */
    padding: 20px;
}

/* Ajouter ces styles pour centrer les titres */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Ajouter un espace entre la présentation et le titre de la wishlist */
.presentation h2 {
    margin-top: 40px;
}
/* Ajouter ces styles pour le diaporama */

.slideshow {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 300px; /* Définir la hauteur souhaitée pour les images du diaporama */
    margin-bottom: 20px;
}

.slideshow img {
    object-fit: cover; /* Empêche l'écrasement des images */
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease; /* Transition de fondu de 1 seconde */
}

.slideshow img.visible {
    opacity: 1;
}
